{% load static %}


<script src="{% static 'vendors/prelineIndex.js' %}"></script>
<script src="{% static 'vendors/htmx.min.js' %}"></script>

<script>
    // This code should be added to <head>.
    // It's used to prevent page load glitches.
    const html = document.querySelector('html');
    const isLightOrAuto = localStorage.getItem('hs_theme') === 'light' || (localStorage.getItem('hs_theme') === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches);
    const isDarkOrAuto = localStorage.getItem('hs_theme') === 'dark' || (localStorage.getItem('hs_theme') === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches);

    if (isLightOrAuto && html.classList.contains('dark')) html.classList.remove('dark');
    else if (isDarkOrAuto && html.classList.contains('light')) html.classList.remove('light');
    else if (isDarkOrAuto && !html.classList.contains('dark')) html.classList.add('dark');
    else if (isLightOrAuto && !html.classList.contains('light')) html.classList.add('light');
</script>

<script>
  document.addEventListener("DOMContentLoaded", () => {
      window.addEventListener("popstate", function(event) {
          htmx.ajax('GET', window.location.pathname, { target: "#dashboard-content" });
      });
  });
  document.addEventListener("DOMContentLoaded", function() {
        const fixturesBtn = document.getElementById("fixtures-btn");
        const resultsBtn = document.getElementById("results-btn");

        function updateButtonStyles(listType) {
            if (listType === "fixtures") {
                fixturesBtn.classList.add("bg-blue-900", "text-white");
                fixturesBtn.classList.remove("bg-gray-100");
                fixturesBtn.classList.remove("hover:bg-gray-200");
                resultsBtn.classList.remove("bg-blue-900", "text-white");
                resultsBtn.classList.add("bg-gray-100");
                resultsBtn.classList.add("hover:bg-gray-200");
            } else if (listType === "results") {
                resultsBtn.classList.add("bg-blue-900", "text-white");
                resultsBtn.classList.remove("bg-gray-100");
                resultsBtn.classList.remove("hover:bg-gray-200");
                fixturesBtn.classList.remove("bg-blue-900", "text-white");
                fixturesBtn.classList.add("bg-gray-100");
                fixturesBtn.classList.add("hover:bg-gray-200");
            }
        }

        // Initialize button styles based on the initial list_type
        const initialListType = "{{ list_type }}";
        updateButtonStyles(initialListType);

        // Add event listeners to update styles when buttons are clicked
        fixturesBtn.addEventListener("click", function() {
            updateButtonStyles("fixtures");
        });

        resultsBtn.addEventListener("click", function() {
            updateButtonStyles("results");
        });
    });
</script>
