{% extends 'base/base.html' %}
{% load static %}

{% block content %}

{% include 'base/css.html' %}

<body class="dark:bg-neutral-900">

    {% include 'base/navbar.html' %}
        <section class="py-8 bg-white md:py-16 dark:bg-neutral-900 antialiased">
            <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
            <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
                <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
                <img class="w-full dark:hidden" src="https://preline.co/assets/img/160x160/img1.jpg" alt="" />
                <img class="w-full hidden dark:block" src="https://preline.co/assets/img/160x160/img1.jpg" alt="" />
                </div>

                <div class="mt-6 sm:mt-8 lg:mt-0">
                <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
                    {{ player.first_name }} {{ player.last_name }} - AKA: {{ player.name }}
                </h1>
                <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                    <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white">
                    {{ player.position }}
                    </p>

                    <div class="flex items-center gap-2 mt-2 sm:mt-0">
                    
                    </div>
                </div>

                <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

                {% if player.description %}
                <p class="mb-6 text-gray-500 dark:text-gray-400">
                    {{ player.description }}
                </p>

                {% comment %} <p class="text-gray-500 dark:text-gray-400">
                    Two Thunderbolt USB 4 ports and up to two USB 3 ports. Ultrafast
                    Wi-Fi 6 and Bluetooth 5.0 wireless. Color matched Magic Mouse with
                    Magic Keyboard or Magic Keyboard with Touch ID.
                </p> {% endcomment %}
                {% else %}
                <p class="mb-6 text-gray-500 dark:text-gray-400">
                    No description at this time
                </p>
                {% endif %}
                </div>
            </div>
            </div>
        </section>
    {% include 'base/footer.html' %}
</body>

{% include 'base/js.html' %}

{% endblock content %}

