

<section class="py-8 bg-white md:py-16 dark:bg-neutral-900 antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
        <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
          <img class="w-full dark:hidden" src="https://preline.co/assets/img/160x160/img1.jpg" alt="" />
          <img class="w-full hidden dark:block" src="https://preline.co/assets/img/160x160/img1.jpg" alt="" />
        </div>

        <div class="mt-6 sm:mt-8 lg:mt-0">
          <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">
            {{ player.first_name }} {{ player.last_name }} - AKA: {{ player.name }}
          </h1>
          <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl dark:text-white">
              {{ player.position }}
            </p>

            <div class="flex items-center gap-2 mt-2 sm:mt-0">
              
            </div>
          </div>

          <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <form action="{% url 'administration:player-delete-confirm' slug=player.slug %}" method="get">
                <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-500 text-white hover:bg-red-600 focus:outline-hidden focus:bg-red-600 disabled:opacity-50 disabled:pointer-events-none">Delete
                </button>
            </form>

            <form hx-get="{% url 'administration:player-update' slug=player.slug %}" method="get" hx-target="#dashboard-content" hx-swap="innerHTML" hx-push-url="true">
                <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-teal-500 text-white hover:bg-teal-600 focus:outline-hidden focus:bg-teal-600 disabled:opacity-50 disabled:pointer-events-none">Edit
                </button>
            </form>
          </div>

          <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

          {% if player.description %}
            <p class="mb-6 text-gray-500 dark:text-gray-400">
              {{ player.description }}
            </p>
          {% else %}
            <p class="mb-6 text-gray-500 dark:text-gray-400">
              No description at this time
            </p>
          {% endif %}
        </div>
      </div>
    </div>
</section>

