<div id="messages-container">
    {% include 'administration/message_alert.html' %}
</div>

<!-- Player Form -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="mx-auto max-w-2xl">

        <div class="text-center">
        <h2 class="text-xl text-gray-800 font-bold sm:text-3xl dark:text-white">
            Add a new player
        </h2>
        </div>

        <!-- Card -->
        <div class="mt-5 p-4 relative z-10 bg-white border border-gray-200 rounded-xl sm:mt-10 md:p-10 dark:bg-neutral-900 dark:border-neutral-700">
        <form method="post" hx-post="{% url 'administration:create-player' %}" hx-target="#dashboard-content" hx-swap="innerHTML">
            {% csrf_token %}
            <div class="mb-4 sm:mb-8">
            <label for="hs-feedback-post-comment-name-1" class="block mb-2 text-sm font-medium dark:text-white">First Name</label>
            {{ form.first_name}}
                {% if form.first_name.errors %}
                    <p class="text-sm text-red-500">{{ form.first_name.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="mb-4 sm:mb-8">
            <label for="hs-feedback-post-comment-email-1" class="block mb-2 text-sm font-medium dark:text-white">Last Name</label>
            {{ form.last_name }}
                {% if form.last_name.errors %}
                    <p class="text-sm text-red-500">{{ form.last_name.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="mb-4 sm:mb-8">
            <label for="hs-feedback-post-comment-email-1" class="block mb-2 text-sm font-medium dark:text-white">Preferred Name</label>
            {{ form.name }}
                {% if form.name.errors %}
                    <p class="text-sm text-red-500">{{ form.name.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="mb-4 sm:mb-8">
            <label for="hs-feedback-post-comment-email-1" class="block mb-2 text-sm font-medium dark:text-white">Position</label>
            {{ form.position }}
                {% if form.position.errors %}
                    <p class="text-sm text-red-500">{{ form.position.errors.as_text }}</p>
                {% endif %}
            </div>

            <div class="mt-6 grid">
            <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Submit</button>
            </div>
        </form>
        </div>
        <!-- End Card -->
    </div>
</div>
<!-- End Comment Form -->

